@font-face {
    font-family: 'Sablon_Up_College_Alt.otf';
    src: url(../font/Sablon_Up_College_Alt.otf);
}
body{
    margin: 0;
    padding: 0;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

header{
    padding: 10px;
    background-color: #141416;
    background-size: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    list-style: none;
    font-size: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #fbe329;
    text-transform: uppercase;
}

/*hero*/

#hero{
    background-image: url(../img/bg.jpeg);
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*logo*/

.logo{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 454px;
    column-width: 342px;
    margin-left: 150px;
}

.logo h2{
    font-family: 'Sablon_Up_College_Alt.otf';
    font-size: 145px;
    margin: 0%;
}

.titre-hero h6{
    font-size: 22px;
    color: #fbe329;
    margin: auto;
}

.logo address p{
    margin-top: 30px;
    margin-bottom: 0;
}

/*Date*/

.cal p{
    margin: 0 10px 0 10px;
    font-variant-caps: small-caps;
}

.evenement{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 300px 0 300px 0;
    margin: 0 150px 0 10px;
}

.evenement h2:nth-child(1){
    color: #fbe329;
    margin-bottom: 55px;
}
.evenement h2:nth-child(3){
    color: #fbe329;
    margin-top: 55px;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 0;
}

.resa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nombre p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin: 30px 0 30px 0;
}

.jour p, .mois p{
    font-size: 14px;
}

.groupe p{
    font-size: 22px;
    margin: 0;
}

.infos a{
    text-decoration: none;
    color: #fbe329;
    border: 1px solid #fbe329;
    padding: 5px 10px;
    border-radius: 30px;
}

.infos a:hover{
    background-color: #fbe329;
    color: black;
}

/*Newsletter*/

#newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fbe329;
    width: 100%;
    height: 900px;
    margin: auto;
    color: #141416;
}

#newsletter h2{
    font-family: 'Sablon_Up_College_Alt.otf';
    font-size: 110px;
}

#newsletter p{
    font-size: 15px;
    margin: 0 0 30px 0;
}

.block{
    margin: 10px 0 30px 0;
}

.reseaux{
    flex-direction: row;
}

.reseaux ul li{
    list-style: none;
    margin: 10px 0 30px 0;
}

/*Footer*/

footer{
    background-color: black;
    display: flex;
    justify-content: center;
}

footer a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}